<% if current_user then @submission.author = current_user.name end %>
<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.number_field :problem %>
  </div>
  <div class="field">
    <%= f.select :lang, %w(c++ java ruby python ocaml) %>
  </div>
  <div class="field">
    <%= f.text_area :code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
