<h1 style="margin-bottom:10px;">submissions</h1>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Author</th>
    <th>Problem</th>
    <th>Lang</th>
    <th>Verdict</th>
    <th></th>
    <th></th>
  </tr>

<% @submissions.each do |submission| %>
  <tr>
    <td><%= submission.id %></td>
    <td><%= submission.author %></td>
    <td><%= problem_link submission.problem %></div></td>
    <td><%= submission.lang %></td>
    <td>
      <%=raw colorize_verdict submission.verdict %>
      <% if submission.id == @watch %>
        <img src="/images/loading.gif" width="30px"/>
      <% end %>
    </td>
    <td><%= link_to 'Detail', submission, :class => 'btn' %></td>
    <td><%= link_to image_tag('/images/delete_red.png', :border => '0', :width => '20px'), submission, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<script>

  function check(watch){
    callback = function(json){
      if(json["verdict"] != "pending"){
        window.location.reload();
      }
    };
    x = $.getJSON("/submissions/"+watch+".json", {}, callback);
  }

  <% if @watch %>
  (function(){
    watch = <%= "#{@watch}" %>;
    setInterval("check(watch)", 1000);
  })();
  <% end %>
</script>

