<p>
  <b>Author:</b>
  <%= @submission.author %>
</p>

<p>
  <b>Problem:</b>
  <%= @submission.problem %>
</p>

<p>
  <b>Lang:</b>
  <%= @submission.lang %>
</p>

<p>
  <b>Verdict:</b>
  <%=raw colorize_verdict @submission.verdict %>
</p>

<p>
  <b>Code:</b><br />
  <pre><%= @submission.code %></pre>
</p>

