<h1 style="margin-bottom:10px;">problems</h1>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Title</th>
    <th>Statement</th>
    <th>Time limit</th>
    <th>Memory limit</th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= problem.id %></td>
    <td><%= link_to problem.title, problem %></td>
    <td><%= problem.statement[0..20] %>...</td>
    <td><%= problem.time_limit %></td>
    <td><%= problem.memory_limit %></td>
  </tr>
<% end %>
</table>


